.*/
__*__
dev
configs
/test*.*
venv_name.txt
*.qtds
translations.db*
translation_report_project.json
/*build*
/dist
*.egg*
src/c_part/*
!src/c_part/positioner_c_part
src/c_part/positioner_c_part/*
!src/c_part/positioner_c_part.*
!src/c_part/positioner_c_part/positioner_c_part.*

**/*backup/
